In [1]:
# fix leading zeros in the metadata
# imports
import pandas as pd
import numpy as np

In [8]:
# read in the metadata file
metadata = pd.read_csv('Interstellar_plate2_platemap.csv')

# fix the leading zeros in the well_id column after the letter
metadata['well_id'] = metadata['well_id'].apply(lambda x: x[0] + x[1:].zfill(2))

# save the metadata file
metadata.to_csv('Interstellar_plate2_platemap.csv', index=False)
metadata

,well_id,cell_type,incubation inducer (h),inhibitor,inhibitor_concentration,inhibitor_concentration_unit,inducer1,inducer1_concentration,inducer1_concentration_unit,inducer2,inducer2_concentration,inducer2_concentration_unit
0,A01,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,B01,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C01,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,D01,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E01,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
379,L24,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,M24,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,N24,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382,O24,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383,P24,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN